body {
    background-color: #f8f9fa;
}

.container {
    height: 100vh;
}

.upload-form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
